:root {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  transition: background-color 0.2s;
}

[data-theme='dark'] {
  --light-bg: hsl(209, 23%, 22%);
  --dark-bg: hsl(207, 26%, 17%);
  --active-bg: hsla(0, 0%, 100%, 00.05);
  --text-color-light: hsla(0, 0%, 100%, 0.541);
  --text-color: hsl(0, 0%, 100%);
  --text-color-input: hsl(0, 0%, 100%);
  --menu-bg: #31363a;
  --list-active-bg: hsla(0, 0%, 100%, 00.2);
  --list-active-hover-bg: hsla(0, 0%, 100%, 00.25);
}

[data-theme='light'] {
  --light-bg: hsl(0, 0%, 100%);
  --dark-bg: hsl(0, 0%, 98%);
  --active-bg: hsl(200, 15%, 8%, 0.05);
  --text-color-light: hsla(200, 15%, 8%, 0.541);
  --text-color: hsl(200, 15%, 8%);
  --text-color-input: hsl(0, 0%, 52%);
  --menu-bg: #ffffff;
  --list-active-bg: hsl(200, 15%, 8%, 0.2);
  --list-active-hover-bg: hsl(200, 15%, 8%, 0.25);
}

body {
  font-family: 'Nunito Sans';
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: var(--dark-bg);
}

.header__top {
  background-color: var(--light-bg);
  padding: 2.5rem 6rem;
  box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.3);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  font-weight: 800;
  color: inherit;
  text-decoration: none;
  font-size: 2rem;
}

.header__title:hover {
  text-decoration: underline;
}

.header__theme-btn {
  background-color: transparent;
  border: 1px solid var(--text-color-light);
  border-radius: 5px;
  color: inherit;

  padding: 0.8rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;

  transition: all 0.3s;
}

.header__theme-btn:hover {
  background-color: var(--active-bg);
  border-color: var(--text-color);
}

.header__theme-logo {
  width: 1.8rem;
  height: 1.8rem;
  fill: currentColor;
}

.header__theme-text {
  font-weight: 600;
  font-size: 1.4rem;
  margin: 0;
}

.header__bottom {
  max-width: 166rem;
  margin: 0 auto;
  padding: 2.5rem 4rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__search {
  border: 1px solid var(--text-color-light);
  border-radius: 5px;
  padding: 0 1.5rem;
  position: relative;

  display: flex;
  align-items: center;
  transition: all 0.2s;
}

.header__search-icon {
  fill: currentColor;
  width: 2.5rem;
  height: 2.5rem;
}

.header__search-input {
  width: 100%;
  background-color: transparent;
  height: 5.5rem;
  border: none;
  outline: none;
  color: inherit;
  font-size: inherit;
}

.header__search-lable {
  color: var(--text-color-light);
  background-color: var(--dark-bg);
  padding: 0 0.7rem;
  font-size: 1.4rem;
  position: absolute;
  top: -1.1rem;
  left: 0.8rem;
}

.header__search:hover {
  border-color: var(--text-color);
}

.header__filter-wrapper {
  display: flex;
  gap: 1rem;
  position: relative;
}

.header__sort-by {
  padding: 1.5rem;
  border: 1px solid var(--text-color-light);
  border-radius: 5px;

  display: flex;
  align-items: center;
  gap: 4rem;
  cursor: pointer;
}

.filter__wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.filter__align-icon,
.filter__down-icon {
  width: 2.5rem;
  height: 2.5rem;
  fill: currentColor;
}

.filter__text {
  text-transform: capitalize;
  margin: 0;
  font-size: 1.4rem;
}

.filter__down-icon {
  width: 2.5rem;
  height: 2.5rem;
}

.header__sort-by:hover {
  background-color: var(--active-bg);
  border-color: var(--text-color);
}

.filter__options {
  position: absolute;
  z-index: 5;

  list-style: none;
  background-color: var(--menu-bg);
  border-radius: 5px;
  padding: 0;
  padding: 0.8rem 0;
  margin: 0;
  transition: all 0.3s;

  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.filter__options--hidden {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);
}

#sort-by__options {
  left: 0;
  top: 5.8rem;
}

#filter-by__options {
  right: 0;
  top: 100%;
}

.filter__option {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.filter__option:hover {
  background-color: var(--active-bg);
}

.filter__option--checked {
  background-color: var(--list-active-bg);
}

.filter__option--checked:hover {
  background-color: var(--list-active-hover-bg);
}

.filter__option--checked .filter__option-icon {
  visibility: visible;
}

.filter__option-icon {
  visibility: hidden;
  width: 2.6rem;
  height: 2.6rem;
  fill: currentColor;
}

.filter__option-name {
  text-transform: capitalize;
  font-size: 1.6rem;
  margin: 0;
}

.layout {
  /* background-color: transparent; */

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  display: block;
}

.layout--hidden {
  display: none;
}

/*

cart section start

*/

.main {
  padding: 2rem 6rem;
}

.container {
  max-width: 160rem;
  margin: 0 auto;
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5rem;
}

.cart {
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--light-bg);
  box-shadow: 0 0 1.4rem rgba(0, 0, 0, 0.4);

  transition: all 0.3s;
}

.cart:hover {
  filter: brightness(1.1);
  transform: scale(1.01);
}

.cart__img-wrapper {
  height: 22rem;
}

.cart__img {
  width: 100%;
  height: 22rem;
}

.cart__title {
  padding: 2rem 3rem;
  font-size: 2.4rem;
  font-weight: 800;
  text-transform: capitalize;
}

.cart__infos {
  list-style: none;
  padding: 0 3rem 1rem;
}

.cart__info:not(:last-child) {
  margin-bottom: 0.2rem;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.error {
  background-color: rgba(256, 0, 0, 0.1);
  border: 1px solid #f00;
  border-radius: 1rem;
  padding: 2.5rem 4rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media only screen and (max-width: 786px) {
  .header__bottom {
    flex-wrap: wrap;
    gap: 3rem;
  }

  .header__search {
    width: 100%;
  }

  .header__filter-wrapper {
    width: 100%;
  }

  .header__sort-by {
    width: 100%;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 568px) {
  .container {
    grid-template-columns: 1fr;
  }

  .header__filter-wrapper {
    flex-wrap: wrap;
  }

  .header__theme-btn {
    border: none;
    border-radius: 50%;
    padding: 1rem;
  }

  .header__theme-logo {
    width: 2.5rem;
    height: 2.5rem;
  }

  .header__theme-text {
    display: none;
  }
}
